<% include header.ejs %>
<title>Contact Me</title>

<div class="jumbotron">
  <div class="container">
        <p id="contactme1">
        SafeValuation<br>
        </p>

        <p id="contactme2">

        Owned by Steven<br>

        Contact me at blahblahblah@gmail.com<br>

        All opinions expressed herein are just that.  Opinions.<br>
        </p>


  </div>
</div>









<% include footer.ejs %>
