<% include header.ejs %>

<title> Safe Evaluation </title>


  <div class="jumbotron">
    <div class="container">
        Welcome to SafeValuation.  The best resource for finding the best home lockbox and safe.
    </div>
  </div>


<% include footer.ejs %>
