<% include header.ejs %>

<title> Safe Evaluation </title>


  <div class="jumbotron" id="indexbox1">
    <div class="container">

         <h2>Welcome to SafeValuation.com!</h2>  The best resource for finding the best home lockbox and safe.
         <br>
         <i>Buy a safe. So you feel safe.  With our safes.  Do you hear that?  That's you being safe.</i>

    </div>
  </div>




<% include footer.ejs %>
