<% include header.ejs %>
<title>Safe Products</title>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="http://www.amazon.com/gp/product/B000Z8P5Z2/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000Z8P5Z2&linkCode=as2&tag=safevalu-20&linkId=X62GIPTQDNDOOJAR">
        <img src="http://ecx.images-amazon.com/images/I/91pvzR3-3tL._SL1500_.jpg" alt="Sentry Safe">
      </a>
      <div class="caption">
        <span class="label label-success">Top Seller!</span>
        <h3>SentrySafe</h3>
        <p>This item comes highly recommended from Amazon!</p>
        <p>
            <a href="http://www.amazon.com/gp/product/B000Z8P5Z2/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000Z8P5Z2&linkCode=as2&tag=safevalu-20&linkId=X62GIPTQDNDOOJAR" class="btn btn-primary" role="button">View on Amazon</a>
        </p>
      </div>
    </div>
  </div>
</div>









<% include footer.ejs %>
